/* Sass */
.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: papayawhip;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
  }
  
  @for $num from 1 through 8 {
    .circle:nth-child(#{$num}) {
      left: ($num - 1) * 60px;
      animation-delay: $num * .1s;
    }
  }
  
  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: papayawhip;
    }
    50% {
      transform: translate(0, 50px) scale(.4);
      opacity: .5;
      background-color: turquoise;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: papayawhip;
    }
  }